@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
html {
  background-color: #000000;
}
.imgbg {
  background-image: url("./assets/pozad.jpg");
  background-size: contain; /* Make the image cover the whole element */
  background-position: right; /* Center the image */
  background-repeat: repeat; /* Prevent tiling */
}
.blackgradient {
  background: linear-gradient(60deg, #0e0e0e, #232323);
}

.mask-inverted-border {
  mask-image: url("/images/inverted-border-mask.svg");
  -webkit-mask-image: url("/images/inverted-border-mask.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
}
