@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
html {
  background-color: #000000;
}
.imagebg {
  background-image: url("assets/moon.jpg");
  background-size: contain; /* Make the image cover the whole element */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
}
.blackgradient {
  background: linear-gradient(60deg, #0e0e0e, #232323);
}
